.nav-bar {
  width: 1440px;
  height: 88px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  width: max-content;
}

.search-devs {
  position: absolute;
  width: 194px;
  height: 10px;
  left: 112px;
  top: 28px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #0069CA;
}

.search-bar {
  position: absolute;
  width: 592px;
  height: 51px;
  left: 425px;
  top: 20px;
  background: none;
  border: 2px solid #8C19D2;
  border-radius: 6px;
}

.card-1 {
  position: absolute;
  width: 280px;
  height: 465px;
  left: 112px;
  top: 168px;
  background: #FFFFFF;
  border-radius: 4px;
  word-wrap: break-word;
}

.card-2 {
  position: absolute;
  width: 904px;
  height: 800px;
  left: 424px;
  top: 168px;
  background: #FFFFFF;
  border-radius: 4px;
}

.avatar {
  width: 48px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

:host button {
  background-color: #8C19D2;
}

.input1 {
  width: 592px;
  height: 51px;
  left: 425px;
  top: 50px;
  background: none;
  border: 2px solid #8C19D2;
  border-radius: 6px;
}

.ajust-text {
  align-items: flex-end;
  margin-left: 80px;
  margin-bottom: 30px;
}

.ajust-text1 {
  color: rgba(160, 174, 192, 1);
  align-items: flex-end;
  margin-left: 80px;
  margin-bottom: 30px;
}

.button1 {
  margin-left: 1050px;
  margin-right: 5px;
}

.pi-heart {
  padding-right: 2%
}

.pi-user {
  padding-right: 2%
}

.pi-building {
  padding-right: 2%
}

.pi-compass {
  padding-right: 2%
}

.pi-link {
  padding-right: 2%
}

.pi-twitter {
  padding-right: 2%
}

.repo-name {
   color: rgb(83, 83, 83)
}

.pi-star-fill {
  color: #8C19D2;
  padding-right: 1%
}

.update-at{
  padding-left: 2%
}

.color-devs{
  color: #8C19D2;
}

@import url('https://fonts.cdnfonts.com/css/nunito');