.title {

    position: absolute;
    width: 488px;
    height: 109px;
    left: 35%;
    top: 35%;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 109px;
    letter-spacing: 0.01em;

    color: #0069CA;

}

.text-input{
    width:300px
  }

  :host button {
    background-color:#8C19D2;
}
