<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Devs</title>
</head>

<body>
    <div class="ajust">
        <div>
            <p class="title">Search
            <p class="title text1">d_evs</p>
        </div>
        <div>
            <span class="input1 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" placeholder="Search" (keyup.enter)="getUser()" [(ngModel)]="searchValue" size="70"
                    pInputText />
            </span>
        </div>
        <div>
            <span class="button1 input1">
                <button pButton type="button" label="Search" (click)="getUser()" class="p-button-help button2"></button>
            </span>
        </div>
    </div>
</body>

</html>