<style>
    @import url('https://fonts.cdnfonts.com/css/nunito');
</style>
<p class="title">Search
<p class="title" style="color: #8C19D2; text-align: right">d_evs</p>
<span class="p-input-icon-left title" style="margin-top: 6.7%">
    <i class="pi pi-search" style="margin-top: 2.6%;"></i>
    <input type="text" placeholder="Search" [(ngModel)]="searchValue" size="40" pInputText/>
</span>
<span class="title" style="margin-left: 21%; margin-top: 6.1%">
<button pButton type="button" label="Search" (click)="getUser()" class="p-button-help"></button>
</span>




