.body {

  display: flex;
  position: absolute;
  width: 800px;
  height: 213px;
  left: 320px;
  top: 405px;

}

.body2 {

  position: absolute;
  width: 800px;
  height: 213px;
  left: 320px;
  top: 405px;

}


.title {

  position: absolute;
  width: 488px;
  height: 109px;
  left: 660px;
  top: 300px;
  bottom: 510px;
  right: 476px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: 0.01em;

  color: #0069CA;
}

.input1 {

  box-sizing: border-box;

  position: absolute;
  width: 592px;
  height: 48px;
  left: 530px;
  top: 540px;

}

.button1 {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  
  position: absolute;
  width: 176px;
  height: 48px;
  left: 1120px;
  top: 540px;
  
  border-radius: 6px;
}

.text-input {
  width: 300px
}

:host button {
  background-color: #8C19D2;
}

.center {

  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);

}

.center2 {

  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-10%, -10%);

}

.ajust {
  width:3150px
}